
{% extends "sp-farmer/farmerindex.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/farmer_send_noti#fam1">
    <center>
        <div class="col-6">
          <table  class="table table-bordered table-hover">
    <tr>
        <td class="text-center"><b>Notification<textarea rows="4" cols="4" name="textfield" class="form-control"></textarea></b></td>
    </tr>
    <tr align="center">
      <th align="center" colspan="2"><label>
        <input type="submit" name="Submit" value="SEND" class="btn-success" />
      </label></th>
    </tr>
  </table>

    </div>
    </center>

</form>
</body>
</html>

{% endblock %}