<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="user_registration_post">
  <table width="252" border="1">
    <tr>
      <td align="center" width="92">First name </td>
      <td width="144"><label>
        <input type="text" name="textfield" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Last name </td>
      <td><label>
        <input type="text" name="textfield2" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Gender</td>
      <td><label>
        <input name="radiobutton" type="radio" value="Male" />
          Male
        <input name="radiobutton" type="radio" value="Female" />
          Female
      </label></td>
    </tr>
    <tr>
      <td align="center">Phone Number </td>
      <td><label>
        <input type="text" name="textfield3" />
      </label></td>
    </tr>
    <tr>
      <td align="center">E-mail</td>
      <td><label>
        <input type="text" name="textfield4" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Place</td>
      <td><label>
        <input type="text" name="textfield5" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Pin</td>
      <td><label>
        <input type="text" name="textfield6" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Username</td>
      <td><label>
        <input type="text" name="textfield8" />
      </label></td>
    </tr>
    <tr>
      <td align="center">Password</td>
      <td><label>
        <input type="text" name="textfield7" />
      </label></td>
        <tr>
      <td colspan="2" align="center"><a href="#">
        <label></label>
        <input type="submit" name="Submit" value="Register" />


      </a></td>
    </tr>
  </table>
</form>
</body>
</html>
